* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
   max-width: 1000px;
   margin: 0 auto; 
}

header {
    background-image: url('images/clouds-header.svg');
    padding: 2em 1em;
}

.game {
    min-height: 200px;
}

#attempts {
    font-size: 5em;
}

.ribbon {
    width: 8em;
    height: 8em;
}