* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    --main-bg-color: #0D244A;
    --header-h1-color: #F1AA8F;
    --main-h1-color: #8099a1;
}

h1 {
    font-family: "Dosis", "Open Sans", sans-serif;
}

header {
    background-color: var(--main-bg-color);
    color: var(--header-h1-color);
}
.header-content {
    padding: .5em;
    max-width: 960px;
    margin: 0 auto;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 .5em;
    min-height: 100vh;
}
main h1 {
    color: var(--main-h1-color);
}

.main-content {
    width: 100%;
    margin-bottom: 1em;
}

.daily-stats {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 25%;
}
.graph {
    width: 75%;
}
.graph p {
    width: 2em;
}
.daily-nutrition {
    display: flex;
}
/* .daily-nutrition > div {
    width: 100%;
} */
.daily-stats div {
    display: flex;
    justify-content: space-between;
}
.graph {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.graph > div {
    display: flex;
    padding-left: .5em;
}
.graph > div > p {
    margin-left: .5em;
}
.outer-bar {
    width: 100%;
    height: 100%;
    background-color: var(--main-h1-color);
}
.inner-bar {
    width: 0%;
    background-color: #F1AA8F;
    height: 100%;
    max-width: 100%;
}

.set-daily-nutrition {
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2); 
    padding: .5em;
    margin-top: .5em;
}
.set-daily-nutrition * {
    display: block;
}
.set-daily-nutrition button {
    padding: .5em;
    margin-top: .5em;
}
.set-daily-nutrition input {
    padding: .5em;
}
.nutrition-goals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meals {
    width: 100%;
}
.add-meal {
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2); 
    padding: .5em;
    margin-top: .5em;
    width: 100%;
}
.add-meal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: height 1s;
    gap: 1em;
}
/* rotate the chevron icon */
i {
    transition: transform .5s;
}
.open {
    transform: rotate(-180deg);
}
.hidden {
    height: 0;
    transition: all 1s;
}
.hidden * {
    display: none !important;
}
.add-meal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-h1-color);
}
.add-meal h2, .add-meal label {
    color: black;
}
.add-meal div {
    display: flex;
}
.add-meal button {
    padding: .5em;
    background-color: var(--main-bg-color);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.add-meal button:focus {
    outline: 1px solid black;
}
.add-meal input, .add-meal select {
    padding: .5em;
    font-size: 1em;
}
.add-meal * {
    display: block;
}
#mealName {
    width: 100%;
    max-width: 13em;
    padding: .5em;
}
#mealNameToolTip {
    position: relative;
    bottom: 1em;
    background-color: white;
    max-width: 10em;
    text-align: center;
    color: red;
    display: none;
}
#ingredientToolTip {
    position: relative;
    bottom: 1em;
    background-color: white;
    max-width: 10em;
    text-align: center;
    color: red;
    display: none;
}
.visible {
    display: block !important;
}
.create-new-ingredient {
    width: 100%;
    max-width: 3em;
    border-radius: 100%;
}
.add-ingredient {
    width: 100%;
}
.ingredients {
    display: flex;
    flex-wrap: wrap;
}
.ingredient {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 13em;
}
.ingredient span {
    border: 1px solid black;
    display: flex;
    border-radius: 3px;
    justify-content: space-between;
}
.ingredient span select {
    border-radius: 3px;
    border: none;
}
.ingredient span input {
    border: none;
    max-width: 7em;
    border-radius: 3px;
}
.tooltip {
    transition: opacity 1s, z-index 1.5s;
    position: absolute;
    opacity: 0;
    width: 400px;
    padding: 1em;
    background-color: #8DE0F2;
    color: #e3272e;
    margin-left: 100px;
    margin-top: -100px;
    z-index: -1;
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    /* make units tooltip thinner to fit screen */
    .tooltip {
        width: 200px;
    }
    /* increase touch size on small screens */
    .fa-question-circle {
        font-size: 1.5em;
    }
}
.tooltip-visible {
    opacity: 1 !important;
    z-index: 1;
    transition: opacity 1s;
}

/* meals */
.meal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}
.meal {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr;
}
.meals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hidden {
    display: none;
}
.meal h4 {
    margin-top: .5em;
}
.meal ul {
    list-style-type: none;
}
.meal li {
    display: inline;
}
.meal div {
    display: flex;
    justify-content: space-between;
}
.meal li span {
    width: 100%;
    margin-left: auto;
}
.meal-nutrition-data, .meal-ingredients {
    display: flex;
    flex-direction: column;
}
.meal-ingredients {
    justify-content: flex-start !important;
}
.meal-nutrition-data {
    justify-content: flex-end !important;
}
#loadingError {
    display: none;
    color: red;
    margin-bottom: 1em;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--header-h1-color);
    text-align: center;
    padding: .5em;
}